# This pulls in all the libraries needed to run Selenium tests
# on the Mozilla MozTrap project

PyYAML==3.10
UnittestZero
certifi==0.0.8
chardet==1.0.1
execnet==1.1
py==1.4.12
pytest==2.3.4
pytest-mozwebqa==1.0
pytest-xdist==1.8
requests==0.13.2
# Temporarily pinning to 2.31 until https://code.google.com/p/selenium/issues/detail?id=5532 is fixed
selenium==2.31
